body { background: #f9dd20; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 14px; display: flex; }
.block-search-0 { color: #cb7699; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #c0be47; font-size: 16px; margin-bottom: 5px; }
.block-product-2 { color: #65e636; font-size: 16px; margin-bottom: 5px; }
.block-sms-3 { color: #efc8b; font-size: 17px; margin-bottom: 5px; }
.block-sms-4 { color: #4ffe2c; font-size: 12px; margin-bottom: 5px; }
.block-cluster-5 { color: #c12fe3; font-size: 13px; margin-bottom: 5px; }
.block-helper-6 { color: #334fd4; font-size: 19px; margin-bottom: 5px; }
.block-notify-7 { color: #89acee; font-size: 17px; margin-bottom: 5px; }
.block-search-8 { color: #3992ea; font-size: 19px; margin-bottom: 5px; }
.block-sms-9 { color: #bf2a6b; font-size: 19px; margin-bottom: 5px; }
.block-user-10 { color: #22a5cc; font-size: 20px; margin-bottom: 5px; }